.list-product-cart {
  &__product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 10px 0;

    > div {
      width: 180px;

      .ui.image {
        margin-right: 20px !important;
      }
    }
  }

  .ui.button {
    margin-top: 20px;
  }
}
